<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/company/insert.css">
</head>
<body class="main-bg">
  <div class="login-container text-c animated flipInX">
    <h3 class="text-whitesmoke">Add Company</h3>
    <div class="container-content">
      <form class="margin-t">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Company Name" id="companyName">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Registration Number" id="registrationNumber">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Province" id="province">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="City" id="city">
        </div>
        <div class="form-group">
          <input type="date" class="form-control" placeholder="Registration Date" id="registrationDate">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Telephone Number" id="telephoneNumber">
        </div>
        <button type="button" onclick="addCompany()" class="form-button button-l margin-b">Add</button>
        <a class="text-darkyellow" href="/"><small>Cancel</small></a>
      </form>
    </div>
  </div>
  <%- include('../partials/scripts.ejs') %>
  <script src="./scripts/company/insert.js"></script>
</body>
</html>