<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/styles/employee/insert.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <h2>Add Employee</h2>
      <form class="form" id="form">
        <div style="display: none">
          <input type="text" id="companyId" value="<%= company._id.toString() %> ">
        </div>
        <div class="form-control">
          <label for="firstName">Firstname</label>
          <input type="text" id="firstName">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="lastName">Lastname</label>
          <input type="text" id="lastName">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="nationalNumber">National Number</label>
          <input type="text" id="nationalNumber">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label>Gender:</label>
        <input type="radio" id="male" name="gender" value="male" />
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" />
        <label for="female">Female</label><br><br><br>
        </div>
        <div class="form-control">
          <label for="manager">Manager</label>
          <input type="checkbox" id="manager" value="Are you a manager?">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="dateofbirth">Date of birth</label>
          <input type="date" id="dateofbirth">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="age">Age</label>
          <input type="number" id="age">
          <i class="fas fa-check-circle"></i>
          <i class="fas fa-exclamation-circle"></i>
          <small>Error message</small>
        </div>
        <button>Add</button>
      </form>
      <a class="text-darkyellow" href="/"><small>Cancel</small></a>
    </div>
  </div>
  <%- include('../partials/scripts.ejs') %>
    <script src="/scripts/employee/insert.js"></script>
    </div>
</body>

</html>